<div class="row mb-4 new-post">
    <form class="form post-form">
        <div class="form-group">
            <label for="title-input">Title:</label>
            <input class="form-input" type="text" id="title-input" />
        </div>
        <div class="form-group">
            <label for="description-input">Description:</label>
            <input class="form-input" type="text" id="description-input" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit"><a href="/dashboard/newPost">POST</a></button>
        </div>
    </form>
</div>

{{#each posts as |post| }}
<div class="row mb-4 post-list">
    <article class="post">
        <div class="title">
            <a href="/post/{{id}}">{{title}}</a>
        </div>
        <div class="description">
            {{description}}
        </div>
        <div class="user-info">
            <p>Post by {{user.name}} on {{format_date created_at}}</p>
        </div>
        <div>
            <a href="/dashboard/editPost/{{id}}" class="edit">EDIT</a>
        </div>
    </article>
</div>
{{/each}}