<div class="row mb-4 post-list">
    <article class="post">
        <div class="title">
            <a href="/post/{{id}}">{{title}}</a>
        </div>
        <div class="description">
            {{description}}
        </div>
        <div class="user-info">
            <p>Post by {{user.name}} on {{!-- {{format_date created_at}} --}}</p>
        </div>
    </article>

    <form class="form new-comment-form">
        <div class="form-group">
            <textarea name="comment-input"></textarea>
            <button type="submit" class="btn btn-primary">Add Comment</button>
        </div>
    </form>
</div>

<script src="/js/comment.js"></script>